{% extends 'global/base.html' %}

        
        {% block title-periodo-dolar %}
          <h1 class="text-white text-opacity-75">Cotação Dolar</h1>
        {% endblock title-periodo-dolar %}
        
        <!-- visualizar cotação por data selecionada -->
          <div class="align-content-between py-3 d-grid ">
          
            {% block content-cotacao-data %}
            <div class="text-white text-opacity-75">
              
              <h3>Cotação Dolar</h3>  

              <input type="date" name="start_date" class="p-2 rounded-2 border-secondary border-opacity-50 border border-2 mt-3" required>
              
              <div class="container d-flex justify-content-between pt-3" >
                
                <!-- tabela com a apresentação da cotação do dolar -->
                <table class="table table-dark text-white text-opacity-75 ">

                  <thead>
                    <tr>
                      <th scope="col">Cotação de compra</th>
                      <th scope="col">Cotação de venda</th>
                      <th scope="col">Data</th>
                      <th scope="col">Hora</th>
                    </tr>
                  </thead>
                  
                {% for dolar in dolarSete %}
                  {% block tabela %}
                    <tbody>
                      <tr>
                        <th>{{ dolar.preco }}</th>
                        <td>{{ dolar.preco }}</td>
                        <td>{{ dolar.data }}</td>
                        <td>{{ dolar.hora }}</td>
                      </tr>
                    </tbody>
                  {% endblock tabela %}
                {% endfor %}
                </table>
 
              </div>
              
            </div>
            {% endblock content-cotacao-data %}

          </div>
        <!-- visualizar cotação por data selecionada -->


        <!-- graficos apresentados  -->
        <div class="col-6 py-5 bg-dark rounded-3 p-2 me-4">
          {% block content-graficos %}
          {% load static  %}
          
            <div class="card text-center" style="width: 100%">
              <img src="{% static 'images/grafico-exemplo.jpg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text text-dark">aqui seria uma descrição breve de detalhamento pra a cotação atual do dolar, seja em uma data especifica ou em periodos? </p>
              </div>
            </div>
          {% endblock content-graficos %}
        </div>
        
        <!-- graficos apresentados  -->