{% include 'home/partials/head.html' %}

<body>

    <div class="container-fluid text-center py-5 d-flex justify-content-center">

        <div class="row bg-danger col-11 ">

            <div class="py-1 fs-2">

                <i class="fa-solid fa-dollar-sign"></i>
                <i class="fa-solid fa-money-bill-transfer"></i>
                <i class="fa-solid fa-brazilian-real-sign"></i>

            </div>
            <div class="container">

                <h1>Histórico Cotação Dolar</h1>
            </div>
        </div>


    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>