:root{
    --bg-card-principal: rgba(34, 83, 28, .8);
    --opacidade-card-principal: .5;
    --cor-botão: #08C862;
}

body {
    font-family: 'Noto Sans HK', sans-serif;
}


.bg-test {
    background-color: var(--bg-card-principal);
}


.bg-color {
    background-color: var(--cor-botão);
}
