:root{
    --bg-card-principal: rgba(34, 83, 28, .8);
    --opacidade-card-principal: .5;
    --cor-botão: #08C862;
    --cor-botão-vermelho: #b42b21;
}

body {
    font-family: 'Noto Sans HK', sans-serif;
}


.bg-test {
    background-color: var(--cor-botão);
    opacity: .9;
}

.shadow-opacity {
    box-shadow: 6px 6px whitesmoke;
}


.bg-color {
    background-color: var(--cor-botão);
}

.bg-botao-vermelho{
    background-color: var(--cor-botão-vermelho);
}
